.App {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(
    72.5deg,
    rgba(0, 175, 255, 1) 27.9%,
    rgba(0, 224, 254, 1) 84.2%
  );
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 80vh;
  width: 25%;
  box-shadow: 0 2rem 4rem var(--shadow);
  background-color: black;
}

.result-screen {
  height: 19vh;
  font-size: 8rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}

.formula-screen {
  height: 6vh;
  font-size: 2.5rem;

  /* To display the value at the bottom-right of the container */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}

.screen {
  height: 25vh;
  width: 100%;
  padding: 0 2rem;
  overflow: hidden;
  white-space: no-wrap;
  color: var(--color-light-white);
  background-color: var(--color-tomato);
}
