.App {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(
    72.5deg,
    rgba(0, 175, 255, 1) 27.9%,
    #00e0fe 84.2%
  );
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 80vh;
  width: 25%;
  box-shadow: 0 2rem 4rem var(--shadow);
  background-color: black;
}

.result-screen {
  height: 19vh;
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: transparent;
  color: black;
}

.formula-screen {
  height: 6vh;
  width: 25%;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: transparent;
  color: black;
}

.screen {
  height: 25vh;
  width: 100%;
  overflow: hidden;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(239, 246, 249, 1) 0%,
    rgba(206, 239, 253, 1) 90%
  );
}

.row {
  height: 11vh;
  width: 100%;
  display: flex;
  color: white;
}

.keys {
  height: 55vh;
  width: 100%;
}

.button {
  width: 25%;
  height: 100%;
  font-size: 3rem;
  font-family: inherit;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(56, 207, 191, 1) 0%,
    rgba(10, 70, 147, 1) 90.2%
  );
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.button:hover {
  color: white;
  background-color: white;
}
.button:active {
  transform: scale(0.95);
}

.button-large {
  width: 50%;
}

.button-large:hover {
  color: white;
  background-color: slategray;
}
