.App {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 80vh;
  width: 25%;
  box-shadow: 0 2rem 4rem var(--shadow);
  background-color: black;
}

.result-screen {
  height: 19vh;
  font-size: 4.5rem;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: transparent;
  padding-right: 20px;
  padding-bottom: 20px;
  color: white;
}

.formula-screen {
  height: 6vh;
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: transparent;
  color: white;
}

.formula {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.screen {
  height: 25vh;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}

.row {
  height: 11vh;
  width: 100%;
  display: flex;
  color: white;
}

.keys {
  height: 55vh;
  width: 100%;
}

.button {
  width: 25%;
  height: 100%;
  font-size: 3rem;
  font-family: inherit;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.button:hover {
  color: white;
  background-color: white;
}
.button:active {
  transform: scale(0.95);
}

.button-large {
  width: 50%;
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
  color: white;
}

.button-large:hover {
  color: rgb(148, 128, 128);
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
}
